# python compiled files
*.pyc
__pycache__
# Mac internal Finder state
.DS_Store
# vim swap files
.*.swp
# virtual environments for python
virt/
virt_test/
# build dirs
build/
dist/
# pytest
.pytest_cache/

#----------------
# RANDOM

# local alias to dir with all scfiles known
# scfiles_all@ -> /Users/mclapp/Google Drive/Project Bio Manu/scfiles_all
scfiles_all
