# python compiled files
*.pyc
__pycache__
# Mac internal Finder state
.DS_Store
# vim swap files
.*.swp
# virtual environment for python
virt/
# build dirs
build/
dist/

#----------------
# RANDOM

# local alias to dir with all scfiles known
# scfiles_all@ -> /Users/mclapp/Google Drive/Project Bio Manu/scfiles_all
scfiles_all
