# requirements for marcam app and building
appdirs==1.4.3
biorad1sc-reader==0.6
numpy==1.14.5
wxPython==4.0.3
PyInstaller==3.3.1
# we don't currently require Pillow (but biorad1sc-reader does)
#Pillow==5.2.0
# really only necessary for building a mac dmg bundle
dmgbuild==1.3.2
#
